name: Release

on:
  release:
    types: [created]

env:
  CARGO_TERM_COLOR: always

permissions:
  contents: write

jobs:
  release:
    name: Release ${{ matrix.target }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          # Windows x64
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            name: tcp-kcp-wrapper-x86_64-pc-windows-msvc.zip
          
          # Windows x32
          - os: windows-latest
            target: i686-pc-windows-msvc
            name: tcp-kcp-wrapper-i686-pc-windows-msvc.zip
          
          # Windows ARM64
          - os: windows-latest
            target: aarch64-pc-windows-msvc
            name: tcp-kcp-wrapper-aarch64-pc-windows-msvc.zip
          
          # Linux x64
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            name: tcp-kcp-wrapper-x86_64-unknown-linux-gnu.tar.gz
          
          # Linux x32
          - os: ubuntu-latest
            target: i686-unknown-linux-gnu
            name: tcp-kcp-wrapper-i686-unknown-linux-gnu.tar.gz
          
          # Linux ARM64
          - os: ubuntu-latest
            target: aarch64-unknown-linux-gnu
            name: tcp-kcp-wrapper-aarch64-unknown-linux-gnu.tar.gz
          
          # Linux ARM32
          - os: ubuntu-latest
            target: armv7-unknown-linux-gnueabihf
            name: tcp-kcp-wrapper-armv7-unknown-linux-gnueabihf.tar.gz

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          targets: ${{ matrix.target }}

      - name: Show version info
        run: |
          rustc --version
          cargo --version

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            ./target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Build
        run: cargo build --release --target ${{ matrix.target }}
        
      - name: Package (Windows)
        if: contains(matrix.target, 'windows')
        run: |
          cd target/${{ matrix.target }}/release
          7z a ../../../${{ matrix.name }} tcp-kcp-wrapper.exe
          cd -

      - name: Package (Linux)
        if: contains(matrix.target, 'linux')
        run: |
          cd target/${{ matrix.target }}/release
          tar czvf ../../../${{ matrix.name }} tcp-kcp-wrapper
          cd -

      - name: Upload to Release
        uses: softprops/action-gh-release@v2.5.0
        with:
          files: |
            ${{ matrix.name }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}